.profile {
  box-sizing: border-box;
  height: 75px;
  padding: 5px;
  background-color: #FAFCFB;
}

.profile__item {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.profile__name {
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: coral;
}

.profile__image {
  height: 100%;
}
